@import url(reset.css);

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'PT Sans Narrow';
    font-weight: 400;
    letter-spacing: 0.7px;
    word-spacing: 1.6px;
    line-height: 125%;
}

.clear {
    clear:both;
}

header {                                /*** Header ***/
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: #2D2D2D;
    opacity: 1;
    z-index: 99;
}
nav {                                    /*** Nav ***/
    width: 100%;
    margin: 0 auto;
}

nav ul {
    text-align: center;
    margin: 10px 0 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px 0 15px;
}

nav a {
    font-family: 'Economica';
    font-size: 17px;
    line-height: 42px;
}

a {
    text-decoration: none;
    font-family: 'PT Sans Narrow';
    transition: 0.3s linear all;
    color: #666;
}

a:hover {
    color: #aaa;
    transition: 0.2s linear all;
}

nav a img {
    width: 60px;
    vertical-align: middle;
}

.active {                                /*** Active Class ***/
    color: #FFC227;
}

.content {
    width: 100%;
    height: 100%;
}
.content > section {
    width: 100%;
    height: 100%;
}

#branding .content {
    width: 100%;
    height: 40%;
    background-color: #2d2d2d;
}

#branding .content > section {
    width: 100%;
    height: 100%;
}

#home {
    background-size: cover;
}

#intro {                                /*** Intro ***/
    padding-top: 20%;
    text-align: center;
    font-family: 'Economica';
}

#intro h1 {
    font-size: 70px;
    color: #2d2d2d;
    font-weight: 700;
    font-family: 'Arvo', serif;
    font-style: italic;
    text-shadow: 
        1px 1px 1px #FFC227,
        2px 2px 2px #FFC227,
        3px 3px 3px #FFC227;
}

#intro p {
    padding-top: 3%;
    margin-bottom: 8%;
    font-size: 30px;
    color: #2d2d2d;
    /**text-shadow: 2px 2px #2d2d2d; **/
}

#intro a{
    border: 2px solid #2d2d2d;
    color: #2d2d2d;
    font-family: 'Economica';
    font-size: 30px;
    position: relative;
    padding: 4px 13px 8px 14px;
}

#intro a:hover {
    color: #FFC227;
    border: 3px solid #2d2d2d;
    background-color: #2d2d2d;
    transition: 0.2s linear all;
    opacity: 1;
}

#work {                                /*** Work ***/
    background: #2d2d2d;
    width: 100%;
    display: block;
}
#work article {
    padding-top: 12%;
}

.projects {
    width: 25%;
    display: inline-block;
    margin-top: -20px;
}

.projects h1 {
    position: relative;
    top: -110px;
    color: #eee;
    text-align: center;
    font-size: 20px;
    font-family: 'Economica', sans-serif, serif;
}

.projects a {
    display: inline-block;
    width: 100%;
    margin-right: -6px;
    margin-bottom: -11px;
}

.projects a img{
    width: 100%;
    margin-bottom: -5px;
    padding-right: -55px;
    opacity: 0.4;
}

.projects a:hover h1{
    text-shadow: 
        1px 1px 1px #2d2d2d,
        1px 1px 2px #2d2d2d
}

.projects a:hover img {
    opacity: 0.8;
}




#about {                                /*** About ***/
    background: #eee;
}

#about article section img{
    width: 30%;
    margin: 10% 0 auto 12%;
    display: inline-block;
    float: left;
}

#about article aside {
    width: 40%;
    margin: 10% 0 auto 5%;
    display: inline-block;
}

#about p {
    text-indent: 40px;
    padding-bottom: 10px;
    line-height: 155%;
}

#about h1 {
    font-family: 'Economica';
    font-size: 30px;
    color: #FFC227;
    margin-bottom: 0.7em;
}

#sayhi a{
    border: 1.5px solid #2d2d2d;
    color: #2d2d2d;
    display: inline-block;
    padding: 5px 7px 7px 7px;
    margin-top: 0.5em;
}

#sayhi a:hover {
    border: 1.5px solid #2d2d2d;
    color: #eee;
    background-color: #2d2d2d;
}


#resume {                                /*** Resume ***/
    background-color: #2d2d2d;
    color: #eee;
}

#resume a {
    border: 1.5px solid #fdd900;
    color: #FFC227;
    display: inline-block;
    padding: 5px 7px 7px 7px;
    margin-top: 3.2em;
    
}

#resume a:hover {
    border: 1.5px solid #eee;
    color: #2d2d2d;
    background-color: #eee;
    
}

#resume h1 {
    padding-top: 8%;
    padding-left: 20%;
    font-family: 'Economica';
    font-size: 30px;
    display: block;
    width: 10%;
}

#resume h2 {
    padding-top: 2em;
    font-size: 17px;
    color: #FFC227;
}

#resume h3 {
    padding-top: 1em;
    font-weight: 700;
    
}

#resume p {
    color: #aaa;
}

#leftcol {
    display: inline-block;
    float: left;
    width: 25%;
    padding-left: 20%;
}

#leftcol ul{
    padding-top: 1em;
    color: #aaa;
}

#rightcol {
    display: inline-block;
    width: 35%;
}

#contact {                                /*** Contact ***/
    color: #eee;
}

#contact article {
    padding-top: 20%;
    text-align: center;
    line-height: 150%;
}

#contact a {
    color: #eee;
}

#contact a:hover {
    color: #aaa;
}

#contact h1{
    font-family: 'Economica';
    font-size: 30px;
    display: block;
    color: #FFC227;
}

#icons {
    display: block;
    margin-top: 1em;
}

#icons li {
    display: inline-block;
    padding: 10px 15px 0px 15px;
    font-size: 30px;
}

#icons li a {
    color: #eee;
    
}

#icons li a:hover {
    color: #FFC227;
}

footer {                                /*** Footer ***/
    height: 100px;
    background-color: #2d2d2d;
    color: #eee;
    text-align: center;
    padding-top: 45px;
    display: block;
}

footer h1 {
    font-size: 30px;
    font-family: 'Arvo', serif;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 0.2em;
}


                               /*** Individual Pages ***/

.steps {
    display: block;
    height: 570px;
    padding-top: 1em;
    padding-left: 3em;
}

.steps h2 {
    display: block;
    font-size: 30px;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Economica';
    color: #2d2d2d;
}

#projecttitle {
    padding-top: 10%;
    text-align: center;
    font-family: 'Economica';
    padding-bottom: 2%;
    background-color: #2d2d2d;
    
}
#projecttitle h2 {
    font-size: 70px;
    padding-bottom: 0.5em;
    color: #ffc227;
    line-height: 130%;
}

#projecttitle p {
    font-size: 30px;
    color: #eee;
    line-height: 150%;
}

#top {
    height: 100%;
}

.wholewidth{
    width: 100%;
    display: block;
}

#first, #third, #branding #fourth, #fifth {
    background-color: #fff;
}

#second, #fourth, #sixth {
    background-color: #eee;
}

#second img {
    display: inline-block;
    float:left;
    width: 550px;
}

#branding #fourth {
    background-image: url("sliderstuff/brandingprocess8.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.rightimg img {
    width: 34%;
    display: inline-block;
    padding-left: 3.5em;
}

#branding #fifth img {
    display: inline-block;
    height: 430px;
}

#ux #seventh img {
    display: inline-block;
    height: 470px;
}

#branding #sixth img {
    display: inline-block;
    height: 350px;
}
.description {
    display: inline-block;
    width: 40%;
    padding-left: 3.5em;
}

#branding #work article, #ux #work article {
    padding-top: 6%;
    background-color: #2d2d2d;
}

#ux h3 {
    font-weight: 700;
}

.footerwork h2 {
    font-size: 30px;
    padding-top: 2em;
    text-align: center;
    color: #ffc227;
    font-family: 'Economica';
}